//import Vuetify
@import "~vuetify/dist/vuetify.min.css";
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css');


// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";



.nav-item-dropdown ::marker {
    color: transparent;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: auto;
    right: 5px;
}


.router-link-exact-active{
    color:red;
}

.footer{
   padding: 0;
}